[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
pydantic = "*"
pillow = "*"
tensorflow = "*"
numpy = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
blue = "*"
isort = "*"
taskipy = "*"
safety = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
